body {
    margin: 0;
    background: #f3f3f3
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffffff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding-top: 10px;
}

nav {
    float: right;
}

nav li {
    display: inline;
    margin-left:70px;
    padding-top: 25px;
}