body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: 120px 120px;
    background-image:
    linear-gradient(to right, black 1px, transparent 1px),
    linear-gradient(to bottom, black 1px, transparent 1px);
    background-repeat: repeat;
   
    font-family: "Montserrat", serif;
    font-size: 100%;
    font-weight: 300;
}
.lower-body {
    margin: none;
    font-family: "Rubik";
    font-size: 20px;
}

.title {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #eee6e6;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding-top: 0px;
    padding-left: 10px;
}

nav {
    float: right;
    font-family: "Montserrat", serif;
    transform: scaleX(1.25);
}

nav li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 0px;
}

nav a {
    color: #3c3535;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-stretch: expanded;
    
}

nav a:hover {
    color: black;
}

.rect-trans-blue {
    height: 60px;
    width: 170px;
    background: rgb(224, 3, 7, 0.4);
}