body {
    margin: 0;
    background: #ee8585
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: 000000;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

nav {
    float: right;
}